<h1>Reset Password</h1>

<form action="/reset-password?token=<%= resetData.token %>" methode="POST">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
    <input type="password" name="password" required placeholder="New Password">
    <br><br>
    <input type="password" name="c_password" required placeholder="Confirm Password">
    <br><br>
    <input type="submit" value="password" >
</form>